################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
/[Bb]in/
[Oo]bj/
[Ll]og/
/bin
/FremaWorkTest
FremaWorkTest
FremaWorkTest/
/FremaWorkTest/
/FremaWorkTest

/packages
/RedApple.ConnectFramework/packages
*.vspscc
